<!-- templates/accounts/register.html -->

{% extends 'boardapp/base.html' %}
{% block content %}
<div>
    <form method="post" action="{% url 'accounts:register' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="mb-3">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1">
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2">
        </div>
        <div class="mb-3">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email">
        </div>

        {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
            <!-- 필드 오류 -->
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
            <!-- 넌필드 오류 -->
            {% for error in form.non_field_errors %}
            <div>
                <strong>{{ error }}</strong>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
{% endblock %}